BasedOnStyle: LLVM
IndentWidth: 2
#ContinuationIndentWidth: 2
#AllowShortBlocksOnASingleLine: Always
#AlignAfterOpenBracket: AlwaysBreak
#BreakAfterReturnType: All
#BreakFunctionDefinitionParameters: true
